#summary {
        padding:15px;
        max-width: 1280px;
        margin: 0 auto;
}

table.legend {
  float: left;
}

table.legend th {
  font-size:16px;
  padding:5px;

}

table.legend td {
  font-size:16px;
  padding:5px;
}

#piechart {
  float: left;
}

