{
    "operator" : "AND",
    "patterns": [
        {
            "key" : "Hash",
            "value" : "md"
        },
        {
            "key" : "ProcessName",
            "value" : "net"
        }
    ]
}