#!/usr/bin/env python
# -*- coding: utf-8 -*-

#  http service port
ELASTICSEARCH_SERVER = "localhost"
INDEX_NAME_ORG = "winlogbeat"
INDEX_NAME = "sysmon-search-alert"
MAX_GET_SIZE = 10000
RULE_FILE_DIRECTORY = "C:\\rule_files\\*"
