.vis-timeline .vis-bar {
  fill-opacity: 1;
}

.visgroup0 {
 fill: #87CEFA;
}

.visgroup1 {
   fill: #FFDEAD;
}

.visgroup2 {
   fill: #7B68EE;
}

.visgroup3 {
   fill: #8FBC8F;
}

.visgroup4 {
   fill: #FF3366;
}

.visgroup5 {
   fill: #33FFFF;
}

.visgroup6 {
   fill: #666699;
}

.visgroup7 {
   fill: #00FA9A;
}

.visgroup8 {
   fill: #FF00FF;
}

.visgroup9 {
   fill: #FFA500;
}

.visgroup10 {
   fill: #6B8E23;
}
