<!DOCTYPE HTML>
<html>
<head>
	<title>Event List</title>

    <style type="text/css">
body, html {
    font-family: sans-serif;
}		
.resultButton {
    padding: 5px 8px;
    border: 1px solid #ccc;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    color: #666;
    font-weight: bold;
}
.resultButton:hover {
    cursor: pointer;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
}
.resultTable {
    display: none;
}
    </style>
    <script src="../plugins/sysmon_search_visual/dist/d3.v3.min.js"> </script>
    <script src="../plugins/sysmon_search_visual/dist/jquery-3.3.1.min.js"> </script>
    <script type="text/javascript">
      $(function(){
      $('.resultButton').on('click',function(){
      $(this).toggleClass('opened');
      $(this).next().slideToggle('fast');
       });
      });
    </script>

</head>
<body>
<div ng-cloak>
<div id="header">
<h1 class="h1_logo">SysmonSearch</h1>
</div>
<div class="global_Nav">
<ul id="menu" class="clearfix">
  <li>
    <a href="sysmon_search_visual#/alert" class="active">{{ lang["TAB_ALERT"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/search">{{ lang["TAB_SEARCH"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/dashboard">{{ lang["TAB_STATISTICS"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/">{{ lang["TAB_EVENT_LIST"] }}</a>
  </li>
</ul>
</div>
<div class="main">
<div class="ttlBox01 clearfix">
<h2 class="flt_l">{{ lang["ALERT_H2"] }}</h2>
<div class="period flt_r">
<div class="select-period">
    <select ng-model="period" ng-change="ctrl.onChange()"
            ng-options="period for period in period_list"></select>
</div>
</div>
</div>
<div class="detectionBox">
<div class="db_ttl">{{ lang["ALERT_DETECTION_BOX"] }}</div>
<div class="db_main clearfix">
<table class="table">
<tr ng-repeat="rule in ctrl.rules">
<td ><span id="">{{rule.value}}</span>
     <span class="flt_r">
        <a href="" class="{{rule.filename ? 'delButton'  : 'non-display'}} " id="del_buttun" ng-click="ctrl.delFile(rule.filename)">{{ lang["ALERT_DELETE_BUTTON"] }}</a>
     </span>
</td>
</tr>
</table>
<div ng-init="keywords = {sort_item: 'event_id', sort_order: 'asc'}"></div>
    <input type="hidden" name="sort_item" ng-model="keywords.sort_item">
    <input type="hidden" name="sort_order" ng-model="keywords.sort_order">
</div>
</div>
<div class="detectionBox detectionBox_Result">
<div class="db_ttl">{{ lang["RESULTBOX_RESULT"] }}</div>
<div class="db_main clearfix">
<table class="table">
      <thead>
        <tr>
            <th></th>
            <th>{{ lang["RESULTBOX_NUMBER_OF_RECORDS"] }}</th>
            <th>{{ lang["RESULTBOX_UNIQUE_HOSTS"] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in ctrl.table_data">
          <td>{{data.rulename}}</td>
          <td>{{data.hit}}</td>
          <td>{{data.unique_hosts}}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="resultButton">result</div>
    <table class="table resultTable">
      <thead>
        <tr>
            <th><a ng-click="ctrl.sort(period, keywords, 'event_data.UtcTime.keyword')">UtcTime{{ctrl.utc_time}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'event_id')">EventId{{ctrl.event_id}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'level.keyword')">Level{{ctrl.level}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'computer_name.keyword')">Computer{{ctrl.computer_name}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'event_data.User.keyword')">UserName{{ctrl.user_name}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'event_data.Image.keyword')">Image{{ctrl.image}}</a></th>
            <th><a ng-click="ctrl.sort(period, keywords, 'rule.file_name.keyword')">RuleName{{ctrl.rulename}}</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in ctrl.search_data">
          <td title="{{lang.DATA_NAME_UTCTIME}}">{{data.utc_time}}</td>
          <td title="{{lang.DATA_NAME_EVENTID}}">{{data.event_id}}</td>
          <td title="{{lang.DATA_NAME_LEVEL}}">{{data.level}}</td>
          <td title="{{lang.DATA_NAME_COMPUTER}}">
              {{data.computer_name}}<BR>
              <a href="sysmon_search_visual#/process_list/{{data.computer_name}}/{{data.decription}}/{{data.utc_time}}/{{data._id}}" title="{{lang.OPEN_PROCESS}}" target="_blank">{{lang.RESULTBOX_LINKNAME_TABLE}}</a>
              <a href="sysmon_search_visual#/process/{{data.computer_name}}/{{data.utc_time}}/{{data.process_guid ? data.process_guid : data.source_guid ? data.source_guid : 0}}" title="{{lang.OPEN_CORRELATION}}" target="_blank">{{lang.RESULTBOX_LINKNAME_GRAPH}}</a>
          </td>
          <td title="{{lang.DATA_NAME_USERNAME}}">{{data.user_name}}</td>
          <td title="{{lang.DATA_NAME_IMAGE}}"><a href="sysmon_search_visual#/process_overview/{{data.computer_name}}/{{data.date.substring(0,10)}}/{{data.process_guid}}" title="{{lang.OPEN_DETAIL}}" target="_blank" class="{{data.process_guid ? 'btn-abled' : 'btn-disabled'}}">{{data.image}}</a></td>
          <td title="{{ctrl.getRuleInfo(data.rule_name)}}">{{data.rule_name}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div>
    <table class="table">
      <thead>
        <tr>
            <th><a ng-click="ctrl.hostsort('key')">{{ lang["ALERT_TABLE_HOST_NAME"] }}{{ctrl.key}}</a></th>
            <th><a ng-click="ctrl.hostsort('doc_count')">{{ lang["ALERT_TABLE_RECORDS"] }}{{ctrl.doc_count}}</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in ctrl.unique_host_data">
          <td title="{{lang.ALERT_TABLE_HOST_NAME}}">{{data.key}}</td>
          <td title="{{lang.ALERT_TABLE_RECORDS}}">{{data.doc_count}}</td>
        </tr>
      </tbody>
    </table>
</div>

</div>
</div>
</div>
</body>
</html>

