<!DOCTYPE HTML>
<html>
<head>
    <title>Event List</title>
    <script src="../plugins/sysmon_search_visual/dist/d3.v5.min.js"> </script>

  </head>

<body>
<div ng-cloak>
<!--
  <div id="header"><h1 class="h1_logo">SysmonSearch</h1></div>
-->

<div class="global_Nav">
<ul id="menu" class="clearfix">
  <li>
    <a href="sysmon_search_visual#/alert">{{ lang["TAB_ALERT"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/search">{{ lang["TAB_SEARCH"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/dashboard" class="active">{{ lang["TAB_STATISTICS"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/">{{ lang["TAB_EVENT_LIST"] }}</a>
  </li>
</ul>
</div>

<div class="main">

<table>
  <tr><th>{{ lang["EVENTSUMMARY_H2"] }}</th><td></td><th>{{ lang["TARGET_HOSTNAME"] }}</th><td>{{ctrl.hostname}}</td><th>{{ lang["TARGET_DATE"] }}</th><td>{{ctrl.date}}</td></tr>
</table>


<div style="float:left;" id='piechart'></div>
<div style="float:left;">
<table class="legend">
  <thead>
    <tr>
      <th>{{ lang["EVENTSUMMARY_TABLE_TYPE"] }}</th>
      <th>{{ lang["EVENTSUMMARY_TABLE_NUM"] }}</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="day_data in ctrl.data">
      <td title="{{lang.DATA_NAME_EVENTTYPE}}"><div class="square" id='square{{$index}}'></div> {{day_data.type}}</td>
      <td align="right"><a href="sysmon_search_visual#/process_list/{{ctrl.hostname}}/{{day_data.type}}/{{ctrl.date}}/0" title="{{lang.OPEN_PROCESS}}" target="_blank" class="{{display(day_data.type) ? 'btn-abled' : 'btn-disabled'}}">{{day_data.value}}</a></td>
      <td align="right">{{(day_data.value/ctrl.total)*100 | number:0}} %</td>
    </tr>
  <tr>
    <td>Total</td>
    <td align="right">{{ctrl.total}}</td>
    <td ><a href="sysmon_search_visual#/process/{{ctrl.hostname}}/{{ctrl.date}}/0" title="{{lang.OPEN_CORRELATION}}" target="_blank" class="{{ctrl.btnflg ? 'btn-abled' : 'btn-disabled'}}">{{ lang["CORRELATION_H2"] }}</a></td>

  </tr>
	</tbody>
</table>
</div>
</div>

</div>
</body>
</html>
