<!doctype html>
<html>
<head>
  <title> Overview </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="../plugins/sysmon_search_visual/dist/vis-network.min.css">
  <script src="../plugins/sysmon_search_visual/dist/d3.v5.min.js"> </script>
</head>

<body>

<div ng-cloak>

<!--div id="header"><h1 class="h1_logo">SysmonSearch</h1></div-->

<div class="global_Nav">
<ul id="menu" class="clearfix">
  <li>
    <a href="sysmon_search_visual#/alert">{{ lang["TAB_ALERT"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/search">{{ lang["TAB_SEARCH"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/dashboard">{{ lang["TAB_STATISTICS"] }}</a>
  </li>
  <li>
    <a href="sysmon_search_visual#/">{{ lang["TAB_EVENT_LIST"] }}</a>
  </li>
</ul>
</div><!--/global_Nav-->

<div class="main">

<div class="overview_info">
  <!--
<h2>{{ lang["PCR_H2"] }}</h2>
<h2>{{ lang["TARGET_HOSTNAME"] }}:{{ctrl.hostname}}</h2>
<h2>{{ lang["TARGET_DATE"] }}:{{ctrl.date}}</h2>
  -->
<div >
    <h2>{{ lang["PCR_H2"] }} </h2>
  <table>
    <tr>
      <th>GUID</th><td>{{ctrl.guid}}</td>
      <th>{{ lang["TARGET_HOSTNAME"] }}</th><td>{{ctrl.hostname}}</td>
      <th>{{ lang["TARGET_DATE"] }}</th><td>{{ctrl.date}}</td>
    </tr>
  </table> 
</div>

<div class="search_Box">

<div class="search_Box_Ttl">
<img src="../plugins/sysmon_search_visual/images/search_icon.png" alt="{{lang.ALT_SEARCHICON}}" width="21" height="20" />
<label>{{ lang["SEARCHBOX_SEARCH"] }}:</label>
</div>

<div class="search_Box_main">
<table class="">
  <tbody>
    <tr>
      <th>
        <span style="font-weight: bold;">{{ lang["EVENT_DETECTIONBOX_AFTER"] }}</span>
      </th>
      <td>
        <input name="start_date" ng-model="keywords.start_date" type="date" placeholder="{{lang.EVENT_DETECTIONBOX_AFTER}}" ng-keyup="$event.keyCode == 13 ? ctrl.onkeyup(keywords) : null">
      </td>
    
      <th>
        <span style="font-weight: bold;">{{ lang["EVENT_DETECTIONBOX_BEFORE"] }}</span>
      </th>
      <td>
        <input name="end_date" ng-model="keywords.end_date" type="date" placeholder="{{lang.EVENT_DETECTIONBOX_BEFORE}}" ng-keyup="$event.keyCode == 13 ? ctrl.onkeyup(keywords) : null">
      </td>
      <td>
      <input value="submit" type="submit" class="button">
      </td>
    </tr>
  </tbody>
</table>
<label>
  <input name="keyword" ng-model="keyword" type="text" placeholder="{{lang.SEARCHBOX_PLACEHOLDER_KEYWORD}}" class="search_keyword" ng-keyup="$event.keyCode == 13 ? ctrl.onkeyup(keyword,hash) : null">
</label>
<label>
  <input name="hash" ng-model="hash" type="text" placeholder="{{lang.SEARCHBOX_PLACEHOLDER_HASH}}" class="search_hash" ng-keyup="$event.keyCode == 13 ? ctrl.onkeyup(keyword,hash) : null">
</label>
</div><!--/search_Box_main-->
</div><!--/search_Box-->

    
<div id="mynetwork"></div>
<div class="vis-network" style="position: relative; overflow: hidden; touch-action: pan-y; -moz-user-select: none; width: 100%; height: 100%;" tabindex="900"></div>
<div class="message">{{ctrl.message}}</div>
    <p><textarea rows="10" cols="100" id="text" class="detail" readonly placeholder="{{lang.TEXTAREA_PLACEHOLDER}}">
    </textarea></p>
</div>

</div><!--/main-->
</div><!--ng-cloak-->
</body>
</html>
